/* src/pages/PsdFilesPage.css */
.main-container {
  display: flex;
  margin: 3rem;
  justify-content: center;
  height: calc(100vh - 6rem);
}

.parts-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.spacer {
  min-width: 1rem;
}

.selected-file-details {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
}

.selected-file-details h2 {
  margin: 0;
  color: #333;
}

.no-file-selected-outer {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 1rem;
}

.no-file-selected-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}