/* src/components/PsdFileListItem.css */
.psd-file-list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--depth20);
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease, border 0.3s ease;
    border: 2px solid var(--depth20);
    width: calc(100% - 2rem);
    font-size: 0.875rem;
  }
  
  .psd-file-list-item.selected {
    opacity: 1;
    border: 2px solid var(--purple);
  }
  
  .text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .thumbnail-part {

  }
  
  .psd-file-info h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
  }
  
  .psd-file-metadata {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .psd-file-metadata img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  
  .psd-file-layers {
    color: #fff;
  }
  
  .psd-file-layers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .psd-file-layers li {
    margin-bottom: 5px;
  }
  